/*Estilos a etiquetas directas*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Geogrotesque';
    font-weight: 900;
}

/*Estilos a clases generales*/

.alert span:not(.v-btn__content) {
    color: #211e32;
    font-family: 'Geogrotesque';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.1rem;
}

.full-height {
    height: 100%!important;
}

.full-width {
    width: 100%!important;
}

.justify-content-flex-end {
    justify-content: flex-end!important;
}

/*Estilos a secciones y*/

.btn-add-element {
    bottom: 32px;
    right: 32px;
}

.section-title {
    color: rgb(82, 189, 149);
    font-family: 'Geogrotesque';
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.7rem;
}

.v-align-center {
    align-items: center;
    display: flex;
    height: 100%;
}

.v-input.search .v-input__slot {
    margin: 0px!important;
}

.v-input.search .v-text-field__details {
    display: none!important;
}

@media only screen and (max-width: 768px) {
    .btn-add-element {
        bottom: 32px;
        right: 22px;
    }
}